<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="author" content="Yuriy Starokozhko">
	<title>Test #2</title>
	<script data-main="js/main" src="js/require.js"></script>
	<link rel="stylesheet" href="css/style.css">
</head>
<body>

	<script type="text/template" id="wrapper-template">
		
		<div class="wrapper">
			<h2>List:</h2>
			<div class="controlls">
				<input type="text" class="item-value">
				<button class="item-add">Add</button>
			</div>
			<ul class="item-list">

			</ul>
		</div>
		
	</script>

	<script type="text/template" id="list-tamplate">

		<% for(var i = 0; i < data.length; i++) { %>
			<div>
				<li><input data-id="<%= data[i]['id'] %>" value=<%= data[i].value %> class="item-text" disabled>
					<span data-value="<%= data[i]['id'] %>" class="item-btn item-delete"> </span> 
					<span data-value="<%= data[i]['id'] %>" class="item-btn item-fix"> </span>
					<span data-value="<%= data[i]['id'] %>" class="item-btn item-done"> </span>
				</li>
			</div>
			<% } %>

		</script>

	</body>
	</html>