* {
	margin: 0;
	padding: 0;
}

body {

}
.wrapper {
	width: 600px;
	min-height: 200px;
	border-radius: 10px;
	border: 1px solid gray;
	margin: 40px auto;
	padding: 30px;
	box-shadow: 0 0 5px gray;
	background: linear-gradient( to top, #b6fb9c, 30%, #9cbffb );
}
h2 {
	text-align: center;
	font-family: Tahoma;
}
.item-list {
	margin-left: 10px;
}
.item-list li {
	margin: 5px;
	list-style-type: decimal;
}

.controlls {
	margin: 20px 0;
}
.item-value {
	height: 30px;
	width: 495px;
	border:none;
	border-radius: 5px;
	border-top: 1px solid #1405f5;
	border-bottom: 1px solid #6d8eeb;
	padding-left: 5px;
	color: blue;
	background-color: transparent;
	transition: border 1s;
}
.item-value:hover {
	border-top: 1px solid #6d8eeb;
	border-bottom: 1px solid #1405f5;
}
.item-value:focus {
	outline: none;
	border-top: 1px solid #6d8eeb;
	border-bottom: 1px solid #1405f5;
}
.item-add {
	line-height: 20px;
	height: 36px;
	width: 80px;
	margin-left: 7px;
	background:  transparent;
	color: #1405f5;
	border: none;
	border-right: 1px solid rgba(2, 21, 202, 0.3);
	border-left: 1px solid rgba(2, 21, 202, 0.3);
	border-radius: 5px;
	cursor: pointer;
	transition: box-shadow 1s;
	font-size: 16px;
}
.item-add:focus {
	outline: none;
}
.item-add:hover {
	-moz-box-shadow:    inset 0 0 5px  #000000;
	-webkit-box-shadow: inset 0 0 5px  #000000;
	box-shadow:         inset 0 0 5px  #000000;
}
.item-text {
	background-color: transparent;
	width: 320px;
	border: 0;
	cursor: default;
	outline-width: 0;
	font-family: Tahoma;
	padding-left: 5px;
	border-radius: 3px;
	height: 20px;
	font-size: 15px;
}
.item-text:focus {
	background-color: rgba(0,0,0,0.1);
}
.item-btn {
	cursor: pointer;
	float: right;
	display: block;
	width: 20px;
	height: 20px;
	margin-right: 5px;
	transition: all 0.2s;
}
.item-fix {
	background: url(../img/fix.png);
	background-position: 0 0;
	display: block;
}
.item-done {
	display: none;
	background: url(../img/done.png);
}
.item-delete {
	background: url(../img/delete.png);
	background-position: 0 0;
}
.item-list li:hover .item-delete,
.item-list li:hover .item-fix {
	background-position: 20px 0;
}
